.links {
    top: 15px;
    left: 15px;
    position: fixed;
}

.socialContainer {
    top: 15px;
    right: 15px;
    position: absolute;
    display: flex;
    position: fixed;
    column-gap: 20px;
}
.linkItem {
    margin-bottom: 10px;
    cursor: pointer;
}
.linkItem a {
    font-size: 25px;
}

.darkMode button {
    background: none;
    font-size: 25px;
    border: none;
    cursor: pointer;
}
