.projectsContainer {
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 30px;
}
.projectsContainer a:hover .projectName,
.projectsContainer a:focus .projectName {
    /* color: #e84a45; */
    transition: unset;
    text-decoration: none;
}
.projectsContainer a:hover,
.projectsContainer a:focus {
    outline: none;
}
.pageTitle {
    font-size: 22px !important;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    /* color: #e84a45; */
}
.projectContainer {
    font-weight: 300;
    margin: 20px 0;
}
.projectLink {
    text-decoration: unset;
    display: block;
    font-family: 'Noto Serif';
}
.projectName {
    font-weight: 500;
    display: block;
    position: relative;
    text-decoration: underline;
    font-family: 'Noto Serif';
}

/* Medium devices (landscape tablets, 500px and up) */
@media only screen and (min-width: 500px) {
    .projectsContainer {
        max-width: 500px;
        text-align: left;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    .pageTitle {
        font-size: 28px;
    }
}
