.navigation {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation__title {
    display: block;
    font-weight: 300;
    font-size: 17px;
}
.light-mode .navigation__title {
    font-weight: 400;
}
.navigation__icons {
    display: flex;
}
.navigation__button {
    background: none;
    border: none;
    cursor: pointer;
}
.navigation__social {
    cursor: pointer;
    margin-right: 18px;
}
.navigation__link {
    display: flex;
}
.navigation__link,
.navigation__button {
    height: 20px;
    width: 20px;
}
.navigation__svg {
    height: 20px;
    width: 20px;
}
 .navigation__button svg.hidden {
    display: none;
 }

/* Medium devices (landscape tablets, 500px and up) */
@media only screen and (min-width: 600px) {
    .navigation__title {
        font-size: 22px;
    }
    .navigation__social {
        margin-right: 32px;
    }
    .navigation__link,
    .navigation__button {
        height: 23px;
        width: 23px;
    }
    .navigation__svg {
        height: 23px;
        width: 23px;
    }
}

@media only screen and (min-width: 768px) {
    .navigation__link:hover .navigation__svg,
    .navigation__button:hover .navigation__svg {
        opacity: 0.7;
        transition: 0.4s;
    }
}

@media only screen and (min-width: 992px) {
    
}

@media only screen and (min-width: 1200px) {
}


