.navigation {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation__title {
    display: block;
    font-weight: 300;
    font-size: 17px;
}
.light-mode .navigation__title {
    font-weight: 400;
}
.navigation__icons {
    display: flex;
}
.navigation__button {
    background: none;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.navigation__social {
    cursor: pointer;
    margin-right: 18px;
}
.navigation__link {
    font-size: 18px;
}

/* Medium devices (landscape tablets, 500px and up) */
@media only screen and (min-width: 600px) {
    .navigation__title {
        font-size: 22px;
    }
    .navigation__button {
        font-size: 22px;
    }
    .navigation__social {
        margin-right: 32px;
    }
    .navigation__link {
        font-size: 22px;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
    
}

@media only screen and (min-width: 1200px) {
}


