.projects {
    display: flex;
    overflow-x: scroll;
    gap: 1.5rem;
}
.projects::-webkit-scrollbar {
    display: none;
}
.project {
    text-decoration: none;
    width: 100%;
    height: auto;
}
.project__card {
    border: 1px solid rgb(38 38 38);
    background-color: rgb(18, 18, 18);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 0.75rem;
    width: 13.5rem;
    aspect-ratio: 1 / 1;
    margin-bottom: 10px;
    transition: 0.4s;
}
.light-mode .project__card {
    background-color: white;
    border: 1px solid #E5E7EB;
    transition: 0.4s;
}

.project__gif {
    border: 1px solid rgb(38 38 38);
    border-radius: 0.75rem;
    width: 13.5rem;
    aspect-ratio: 1 / 1;
    display: block;
    margin-bottom: 10px;
    transition: 0.4s;
}
.project__logo {
    font-weight: 600;
    font-size: 40px;
    color: white !important;
    transition: 0.4s;
}
.light-mode .project__logo {
    color: rgb(50, 50, 50) !important;
    transition: 0.4s;
}

.project__name {
    font-weight: 300;
    font-size: 16px;
    transition: 0.4s;
}
.light-mode .project__name {
    font-weight: 400;
    transition: 0.4s;
}
.project__technology {
    opacity: 0.4;
    font-weight: 200;
    font-size: 15px;
    transition: 0.4s;
}
.light-mode .project__technology {
    opacity: 0.6;
    font-weight: 300;
    transition: 0.4s;
}

/* Medium devices (landscape tablets, 500px and up) */
@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
    .projects {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4,1fr);
        column-gap: 30px;
        row-gap: 30px;
    }
    .project__card {
        width: 100%;
    }
    .project__gif {
        width: 100%;
    }
    .project:hover .project__card {
        opacity: 0.2;
    }
    .project:hover .project__gif {
        opacity: 0.2;
    }
}

@media only screen and (min-width: 992px) {
    
}

@media only screen and (min-width: 1200px) {
}
